html, body {
    box-sizing: border-box;
    margin: 0 auto;
}

.largerText {
font-size: large;
}

.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
img {
    margin-right: 10px;
}